.*
_*
*.out

!.gitignore
!.gitattributes
!docs/.nojekyll

docs/*.ipynb
!docs/**/_*

results/*

!results/gene_sequence

!results/site_numbering
results/site_numbering/*
!results/site_numbering/site_map.csv

!results/variants
results/variants/*
!results/variants/*codon_variants.csv

!results/barcode_runs
results/barcode_runs/*
!results/barcode_runs/barcode_counts.csv

!results/prob_escape
results/prob_escape/*
!results/prob_escape/selections.csv
!results/prob_escape/prob_escapes.csv
